<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: #240abc;
            height: 100px;
            width: 100px;
        }

        .two {
            background-color: #1ccdec;
        }

        .three {
            background-color: #8a32da;
        }

        [v-cloak] {
            display: none !important;
        }

        input {
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <custom-form />
        <br>
        <input @keyup.enter="greet(greeting + '23') " v-model="greeting"/>
        <hr>
        <button @click="toggleBox">show box</button>
        <div v-if="isVisible" class="box"></div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    greeting: 'Hello world!',
                    isVisible: false,
                }
            },
            methods: {
                toggleBox(){
                    this.isVisible = !this.isVisible
                },
                greet(greeting){
                    console.log(greeting);
                }
            }
        })

        app.component('custom-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <!-- <p v-for="(str, i) in inputs" :key="str"> {{ str }}</p> -->
                    <custom-input
                        v-for="(input,i) in inputs"
                        v-model="input.value"
                        :type="input.type"
                        :label="input.label"/>
                    <br>
                    <button>log in</button>
                </form >
            `,
            components: ['custom-input'],

            data() {
                return {
                    title: 'Login Form',
                    inputs: [
                    {
                        label: 'Email',
                        value: '',
                        type: 'email'
                    },
                    {
                        label: 'password',
                        value: '',
                        type: 'password'
                    }
                    ],
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password'
                }
            },
            methods: {
                handleSubmit(){
                    console.log(this.inputs[0].value, this.inputs[1].value);
                }
            }
        })

        app.component('custom-input', {
            template:`
                <label>
                    {{ label }}
                    <input :type="type" v-model="inputValue"/>
                </label>
            `,

            props: ['label', 'type', 'modelValue'],

            computed: {
                inputValue: {
                    get(){
                        return this.modelValue
                    },

                    set(value){
                        this.$emit('update:modelValue', value)
                    }
                }
            },


        })

        app.mount('#app')
    </script>
</body>
</html>